.body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  font-size: small;
}
.volunteerFrm {
  background-color: rgba(209, 221, 235, 1);
  padding: 2rem;
}
.whitebkg {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
}
.heading {
  text-align: center;
  font-size: xx-large;
  font-family: var(--font-family-montserrat-regular);
  font-weight: 500;
}
.required-fields {
  color: red;
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-s);
  letter-spacing: 0;
  padding: 1.5rem 0 1.5rem 0;
}

.padding {
  padding-top: 2.5rem;
}
.radiobtnSpace {
  padding: 1rem 0 1rem 0;
}
.other {
  display: flex;
  justify-content: space-between;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.button {
  border-radius: 10px;
  background-color: #0a98c0;
  height: 60 px;
  left: -10;
  top: -60;
  width: 150px;
  border: none;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (min-width: 640px) {
  .body {
    font-size: medium;
  }
}
